@import "tailwindcss";

@theme {
    --color-blush: #F6E6DA;
    --color-burgundy: #471e1b;
}

/* Default font (for English) */
body {
    font-family: var(--font-angie-sans-pro), sans-serif;
}

/* Arabic text (RTL) */
[dir="rtl"] body {
    font-family: var(--font-lyon-arabic), sans-serif;
}

/* Elegant Arabic display font */
.ar-display {
    font-family: var(--font-lyon-arabic), serif;
}

.en-display {
    font-family: var(--font-angie-sans-pro), sans-serif;
}

/* Kanun AR+ for accent text */
.kanun {
    font-family: var(--font-kanun-ar), sans-serif;
}


:root {
    --container-x: 1rem;
    --container-x-sm: 1rem;
    --container-x-lg: 4rem;
    --container-x-xl: 4rem;
}

.container-x {
    @apply w-full;
    padding-inline: var(--container-x);
}

@media (min-width: 640px) {
    .container-x {
        padding-inline: var(--container-x-sm);
    }
}

@media (min-width: 1024px) {
    .container-x {
        padding-inline: var(--container-x-lg);
    }
}

@media (min-width: 1500px) {
    .container-x {
        padding-inline: var(--container-x-xl);
    }
}


#miraf-map .leaflet-pane.leaflet-tile-pane {
    filter: sepia(0.95) saturate(6) hue-rotate(330deg) brightness(0.8);
}

.miraf-label {
    color: #f9e8df;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
    pointer-events: none;
}
